<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flag Quiz</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>
  </head>
  <body>
    <header>
      <nav class="bg-base-100 shadow-sm flex items-center justify-between px-4 py-4">
        <div class="navbar-brand">
          <a href="#">🌍 Flag Quiz</a>
        </div>

        <div>
          <p>Your Score: <%= score %></p>
        </div>

        <div>
          <a href="#">
            <button class="btn btn-primary">More Project</button>
          </a>
        </div>
      </nav>
    </header>

    <main>
      <section>
        <h1 class="text-9xl"><%= question.flag %></h1>
      </section>

      <section>
        <form action="/submit" method="post">
          <% question.options.forEach((option) => {%>
          <button class="p-4 border" type="submit" name="chooseOption" value="<%= option.name %>"><%= option.name %></button>
          <% }) %>
        </form>

        <% if (wasCorrect !== null) { %>
        <p class="<%= wasCorrect ? 'text-green-500' : 'text-red-500' %>"><%= wasCorrect ? '✅ Correct!' : '❌ Wrong!' %></p>
        <% } %>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
